#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.useful-links {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    margin: 70px auto 50px auto;
}

.links-grp {
    display: flex;
    flex-direction: column;
}

.links-grp > h3 {
    margin-bottom: 12.5px;
}

.links-grp > a {
    margin-bottom: 10px;
    width: fit-content;
}

.links-grp > a:hover {
    color: var(--purple);
}

.copyright-container {
    background-color: var(--light-purple);
    width: 100%;
    text-align: center;
    padding: 20px 0;
}