#navbar {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;
    position: sticky;
    top: 0;
    background-color: var(--lighter-purple);
}

.nav-logo img {
    max-width: 70px;
    padding: 10px 0;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
}

.nav-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.nav-item:hover {
    background-color: var(--light-purple);
    opacity: 1;
    animation: fade 0.5s linear;
}

@keyframes fade {
    0%  { opacity: 0.5 }
    100% { opacity: 1 }
  }