/* Services */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 15%;
    background-color: var(--light-purple);
}

#services > p, #services > h1 {
    margin-bottom: 10px;
    text-align: center;
}

.services-items-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
}

.services-item {
    background-color: var(--lighter-purple);
    padding: 20px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

