:root {
  --light-purple: #E6EBF7;
  --lighter-purple: #F9FAFD;
  --purple: #5573B7;
}

* {
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
}

li, a {
  text-decoration: none;
}

a {
  color: black;
}